<footer class="footer">
  <div class="container">
    <div class="footer-wrapper">
      <h3 class="footer-title"><span class="footer-title-span">Chocolate</span> a delicious cure for a bad day</h3>
      <address class="footer-address">
        <b>Contact us</b>
        <ul class="footer-address-list">
          <li class="footer-address-item">
            <a href="tel:+380 (68) 443-94-26">+380 (68) 443-94-26</a>
          </li>
          <li class="footer-address-item">
            <a href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
          </li>
        </ul>
      </address>
    </div>
    <div class="footer-nav-wrap">
      <nav class="footer-nav">
        <ul class="footer-list">
          <li class="footer-list-item"><a class="footer-list-link" href="#hero">Home</a></li>
          <li class="footer-list-item"><a class="footer-list-link" href="#howitsmade">How it's made?</a></li>
          <li class="footer-list-item hide"><a class="footer-list-link" href="#ingredients">Our products</a></li>
          <li class="footer-list-item hide"><a class="footer-list-link" href="">Top sellers</a></li>
          <li class="footer-list-item"><a class="footer-list-link" href="#reviews">Chocolate is loved</a></li>
        </ul>
      </nav>
      <form class="footer-form">
        <input class="footer-input" type="email" name="email" aria-label="user email" placeholder="Enter your email">
        <button class="footer-btn" type="submit">Subsribe</button>
      </form>
    </div>
  </div>
</footer>
