<section class="hero-section" id="hero">
    <div class="hero-wrapper">
        <h1 class="hero-title">Treat yourself or a loved one to our finest ingredients for a moment of pure delight!</h1>
        <div class="hero-btn-wrapper">
            <ul class="hero-list">
                <li class="hero-list-item">
                    <button class="hero-btn">Buy now</button>
                </li>
                <li class="hero-list-item">
                    <button class="hero-btn white-btn">How it's made</button>
                </li>
            </ul>
            <a class="hero-scroll-down" href="#howitsmade">scroll down
                <div class="hero-scroll-icon-wrap">
                    <svg class="icon-scroll" width="16" height="16">
                        <use href="/img/icons.svg#icon-arrow"></use>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</section>