<section class="howitsmade-section">
    <div class="container">
        <h2 class="him-title">HOW IT'S <span class="him-title-span">MADE?</span></h2>
        <div class="him-wrapper">
            <picture class="him-img">
                <source media="(min-width: 1200px)" width="600" height="400"
                srcset="/img/him-desk@1x.webp 1x, /img/him-desk@2x.webp 2x">
                <source media="(min-width: 768px)" width="614" height="400" 
                srcset="/img/him-tab@1x.webp 1x, /img/him-tab@2x.webp 2x">
                <source media="(max-width: 767px)" width="335" height="500" 
                srcset="/img/him-mob@1x.webp 1x, /img/him-mob@2x.webp 2x">
                <img src="/img/him-mob@1x.webp" width="335" height="500" alt="plate with chocolate">
            </picture>
            <div class="him-text-wrapper">
                <p class="him-text">Try our chocolates today and discover the perfect balance of flavor</p>
                <ul class="him-text-list">
                    <li class="him-text-list-item">Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.
                    </li>
                    <li class="him-text-list-item">At the same time, prepare a water bath. Melt the butter on it.
                    </li>
                    <li class="him-text-list-item">"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass becomes
                    uniform and silky.
                    </li>
                    <li class="him-text-list-item">Heat the mixture over low heat, letting it barely boil.
                    </li>
                    <li class="him-text-list-item">Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>