<section class="ingred-section" id="ingredients">
    <div class="container">
        <h2 class="ingres-title">IT ALL ADDS UP TO ONE EXCEPTIONAL <span class="ingred-title-span">TASTE</span> SENSATION</h2>
        <p class="ingres-subtitle">At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of the
        finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one
        exceptional taste sensation.</p>
        <ul class="ingred-list">
            <li class="ingred-list-item">
                <div class="ingred-list-card">
                    <div class="ingred-card-front">
                        <picture class="ingred-img">
                            <source media="min-width: 768px" width="206" height="160"
                            srcset="/img/ing-choc-desk@1x.webp 1x, /img/ing-choc-desk@2x.webp 2x">
                            <source media="max-width: 767px" width="224" height="171"
                            srcset="/img/ing-choc-mob@1x.webp 1x, /img/ing-choc-mob@2x.webp 2x">
                            <img src="/img/ing-choc-mob@1x.webp" width="224" height="171">
                        </picture>
                        <p class="ingred-text">MILK CHOCOLATE</p>
                    </div>
                    <div class="ingred-card-back">
                        <h3 class="ingred-card-back-title">MILK CHOCOLATE</h3>
                        <ul class="ingred-card-back-list">
                            <li class="ingred-card-back-list-item"><a>chocolate</a></li>
                            <li class="ingred-card-back-list-item white"><a>the benefits</a></li>
                        </ul>
                        <p class="ingred-card-back-text">Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed type of
                        chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although four-fifths of all
                        milk chocolate is sold in the United States and Europe.</p>
                    </div>
                </div>
            </li>
            <li class="ingred-list-item">
                <div class="ingred-list-card">
                    <div class="ingred-card-front">
                        <picture class="ingred-img">
                            <source media="min-width: 768px" width="206" height="160"
                                srcset="/img/ing-milk-desk@1x.webp 1x, /img/ing-milk-desk@2x.webp 2x">
                            <source media="max-width: 767px" width="224" height="171"
                                srcset="/img/ing-milk-mob@1x.webp 1x, /img/ing-milk-mob@2x.webp 2x">
                            <img src="/img/ing-milk-mob@1x.webp" width="224" height="171">
                        </picture>
                        <p class="ingred-text">MILK</p>
                    </div>
                    <div class="ingred-card-back">
                        <h3 class="ingred-card-back-title">MILK</h3>
                        <ul class="ingred-card-back-list">
                            <li class="ingred-card-back-list-item"><a>milk</a></li>
                            <li class="ingred-card-back-list-item white"><a>the benefits</a></li>
                        </ul>
                        <p class="ingred-card-back-text">Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition for young
                        mammals (including breastfed human infants) before they are able to digest solid food.Early-lactation milk, which is
                        called colostrum, contains antibodies that strengthen the immune system.</p>
                    </div>
                </div>
            </li>
            <li class="ingred-list-item">
                <div class="ingred-list-card">
                    <div class="ingred-card-front">
                        <picture class="ingred-img">
                            <source media="min-width: 768px" width="206" height="160"
                                srcset="/img/ing-nuts-desk@1x.webp 1x, /img/ing-nuts-desk@2x.webp 2x">
                            <source media="max-width: 767px" width="224" height="171"
                                srcset="/img/ing-nuts-mob@1x.webp 1x, /img/ing-nuts-mob@2x.webp 2x">
                            <img src="/img/ing-nuts-mob@1x.webp" width="224" height="171">
                        </picture>
                        <p class="ingred-text">NUTS</p>
                    </div>
                    <div class="ingred-card-back">
                        <h3 class="ingred-card-back-title">NUTS</h3>
                        <ul class="ingred-card-back-list">
                            <li class="ingred-card-back-list-item"><a>nuts</a></li>
                            <li class="ingred-card-back-list-item white"><a>the benefits</a></li>
                        </ul>
                        <p class="ingred-card-back-text">Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part of a
                        nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease. They’re a good source
                        of fiber, healthy fats, and plant protein. Plus, they’re great on their own.</p>
                    </div>
                </div>
            </li>
            <li class="ingred-list-item">
                <div class="ingred-list-card">
                    <div class="ingred-card-front">
                        <picture class="ingred-img">
                            <source media="min-width: 768px" width="206" height="160"
                                srcset="/img/ing-beans-desk@1x.webp 1x, /img/ing-beans-desk@2x.webp 2x">
                            <source media="max-width: 767px" width="224" height="171"
                                srcset="/img/ing-beans-mob@1x.webp 1x, /img/ing-beans-mob@2x.webp 2x">
                            <img src="/img/ing-beans-mob@1x.webp" width="224" height="171">
                        </picture>
                        <p class="ingred-text">SEMI - SWEET CHOCOLATE</p>
                    </div>
                    <div class="ingred-card-back">
                        <h3 class="ingred-card-back-title">SEMI - SWEET CHOCOLATE</h3>
                        <ul class="ingred-card-back-list">
                            <li class="ingred-card-back-list-item"><a>sweet chocolate</a></li>
                            <li class="ingred-card-back-list-item white"><a>the benefits</a></li>
                        </ul>
                        <p class="ingred-card-back-text">Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding of this type
                        of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk chocolate. In a taste
                        comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>