<section class="reviews-section">
    <div class="container">
        <h2 class="reviews-title"><span class="reviews-title-span">CHOCOLATE</span> IS LOVED</h2>
        <div class="swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <div class="swiper-card">
                        <img class="reviews-img"
                        srcset="/img/reviews-victoria@1x.webp 1x, /img/reviews-victoria@2x.webp 2x"
                        src="/img/reviews-victoria@1x.webp" alt="user victoria" width="80" height="80">
                        <h3 class="reviews-subtitle">Victoria Dobrzhanska</h3>
                        <p class="reviews-text">I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.</p>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="swiper-card">
                        <img class="reviews-img"
                        srcset="/img/reviews-nazar@1x.webp 1x, /img/reviews-nazar@2x.webp 2x" 
                        src="/img/reviews-nazar@1x.webp" alt="user nazar" width="80" height="80">
                        <h3 class="reviews-subtitle">Nazar Babenko</h3>
                        <p class="reviews-text">This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth, and the
                        chocolate is good.</p>
                    </div>
                </li>
                <li class="swiper-slide">
                    <div class="swiper-card">
                        <img class="reviews-img"
                        srcset="/img/reviews-olena@1x.webp 1x, /img/reviews-olena@2x.webp 2x" 
                        src="/img/reviews-olena@1x.webp" alt="user olena" width="80" height="80">
                        <h3 class="reviews-subtitle">Olena Kampusch</h3>
                        <p class="reviews-text">Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The wafer is soft
                        but crunchy.</p>
                    </div>
                </li>
            </ul>
            <div class="swiper-pagination"></div>
        </div>
        <button class="send-review-btn" type="button">Leave a review</button>
    </div>
</section>